body {
  height: 97vh;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0.5rem;
}

ul > li {
  padding: 0.2rem 0 0.2rem 0.5rem;
}

ul > li:hover {
  background-color: #aaa;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  overflow: hidden;
}

.box {
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 5px;
  margin-bottom: 1rem;
  height: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
}

#input-box {
  width: 100%;
  height: 100%;
  outline: none;
}

button#check {
  color: #fff;
  padding: 1rem;
  background: rgb(42, 79, 224);
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
}

button#check:hover {
  opacity: 0.7;
}

.error {
  background-color: #ff0066;
  border-bottom: 1px solid #f00;
}

#input-box .error:hover {
  background-color: #f00;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

#panel {
  position: absolute;
  border: 1px solid #aaabbb;
  background-color: #fff;
  width: 120px;
}

.warning {
  background-color: blue;
}
